table.views-table.cols-3.table.table-hover.table-striped {
    font-size: small;
}

thead {
    text-align: left;
}

thead > tr {
    background-color:  rgb(147, 197, 75);
    color: rgb(255, 255, 255);
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    /* width: 210.5px; */
    margin: 5px;
    vertical-align: middle;
}

h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

p {
    margin-top: 0px;
    color: rgb(62, 63, 58);
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

tr.odd {
    background-color: #f8f5f0;
}

tr.odd.views-row-first {}


a {
    color: rgb(147, 197, 75);
}


thead h5 {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

section li {
    /* display: inline; */
    /* background-color: #93C54B; */
    /* color: white; */
    border-collapse: separate;
    color: rgb(255, 255, 255);
    display: list-item;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 20px;
    line-height: normal;
    /* text-align: center; */
    text-transform: uppercase;
    vertical-align: middle;
    /* white-space: normal; */
    width: 200;
    margin: 5px;
    vertical-align: middle;
    padding-top: 10px;
    border-radius: 4px;
    text-decoration: none;
}

section li a {
    /* color: white; */
    text-decoration: none;
    /* display: block; */
}

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}

.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}

.bs-callout-info h4,
.bs-callout-info a {
    color: #3A87AD;
}

.bs-callout a.alert-link {
    font-weight: bold;
}
.checkout-help {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
 /* callout css END */ 
 
 blockquote {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
 }
 
 small {
  font-size:small;
 }
 
 .text-success {
    color: #93c54b;
}

.text-warning {
    color: #f47c3c;
}

.text-danger {
    color: #d9534f;
}

.text-info {
    color: #29abe0;
}
.quantity {
  height: 55px;
  width: 70px;
  text-align: center;
  padding-top: 23px;
  border: 1px solid #D5DCE7;
  background-color: #d5dce75b;
  font-weight: 800;
  font-size: 26px;
  font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.quantity.danger {
  border: 1px solid #D9534F;
  background-color: #d9544f5e;
}
.quantity.warning {
  border: 1px solid #ffc107;
  background-color: #ffc10750;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
h3, .h3 {
  font-size: 24px;
}

.priority {
  font-size: x-small;
  font-weight: normal;
  display: none;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dfd7ca;
}

.list-group-item:first-child {
  padding-top: 15px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}
.media-body {
  width: 10000px;
}
.media, .media-body {
  zoom: 1;
  overflow: hidden;
}

.media:first-child {
  margin-top: 0;
}
.media, .media-body {
  zoom: 1;
  overflow: hidden;
}
.media {
  margin-top: 15px;
}

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}
.media-left, .media > .pull-left {
  padding-right: 10px;
}

.deadline {
  margin-top: 0px;
  color: rgb(62,63,58);
  font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.media-body h4 {
  margin-top: 0px;
}

h3, .h3 {
  font-size: 24px;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-default {
  border-color: #dfd7ca;
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.task-table div.row {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom-color: rgb(223,215,202);
}
.panel-body {
  padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.deadline {
  font-size: small;
}

small, .small {
  font-size: 85%;
}

.list-group .media {
  margin-top: 0px;
}

