footer {
    color: #494D52;
    margin-top:20px;
}
footer .row {
    padding-bottom: 20px;
}

footer .social a{
    margin-right: 20px;
    margin-bottom: 20px;
}
/* Icon classes */
.custom-icons {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 0 4px -8px 4px;
}
.custom-icons.big {
    height: 28px;
    width: 28px;
    margin-bottom: -10px;
}
.custom-icons.icons-sm {
    height: 18px;
    width: 18px;
    margin-bottom: -4px;
}
.facebook {
    background: transparent url(img/facebook-blue.svg) 0px 0px no-repeat;
    background-size: 100%;
}
.twitter {
    background: transparent url(img/twitter-blue.svg) 0px 0px no-repeat;
    background-size: 100%;
}
.google {
    background: transparent url(img/google-color.png) 0px 0px no-repeat;
    background-size: 100%;
}
.facebook-white {
    background: transparent url(img/facebook-white.svg) 0px 0px no-repeat;
    background-size: 100%;
}
.twitter-white {
    background: transparent url(img/twitter-white.svg) 0px 0px no-repeat;
    background-size: 100%;
}
.instagram-white {
    background: transparent url(img/instagram-white.svg) 0px 0px no-repeat;
    background-size: 100%;
}