#block-custom-help-custom-help-iframe #docs {
  position: fixed;
  
  z-index: 1200;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);

  right: 5px;
  max-width: 400px;
  border-radius: 10px;
  padding-bottom: 10px;
}
#block-custom-help-custom-help-iframe #docs img{
  width: 100%;
}
#block-custom-help-custom-help-iframe #docs .panel-heading {
  font-size: unset;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#block-custom-help-custom-help-iframe #docs #docs-help{
  overflow-y:scroll;
  max-height: 500px;
  width: 100%;
}