/** Filter **/
#block-custom-menu-custom-menu-task-filter {
  position:fixed;
  bottom:0;
  left:0;
  z-index:300;
  width: 100%;
  }
 #custom-filter {
  margin: auto;
  display: block;
  position: relative;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 0 0; 
 }
 #custom-menu-filter-block{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.25);
  overflow-y:auto;
 }
/** Tiny Menu **/
#custom-menu-tiny {
   display: flex;
   justify-content: space-between;
   margin: 0;
}
#custom-menu-tiny li{
  flex: 1;
}

/** Main menu **/
.custom-menu-user.nav > li {
  float: left;
}
.custom-menu-user.navbar-right {
  float: right;
}
.navbar-header {
  float: left;
}
.custom-menu-user.navbar-nav {
  margin: 0 -15px;
}
.custom-menu-user .user-hide {
display: none;
}
.navbar .custom-menu-user.nav a .glyphicon {
  font-size: 22px;
  vertical-align: text-bottom;
}
@media (min-width: 768px) { 
  #block-custom-menu-custom-menu-task-filter {
    padding-top: 20px;
    position:relative;
    bottom:0;
    left:0;
    z-index:300;
    width: 100%;
  }
  #custom-menu-tiny{
    display: none;
  }
  .custom-menu-user .user-hide {
    display: inline;
  }
  .navbar .custom-menu-user.nav a .glyphicon {
    font-size: inherit;
    vertical-align: inherit;
  }
  .nav > li.custom-toggle {
    display: none;
  }
  /******
   * Filter
   * we have to overwrite .hidden, the class is used for mobile to hide the filters initially
   * buton Desktop we show tham form the start (and never hide them);
   */
  #custom-menu-filter-block.hidden{
    display: block !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    overflow-y:auto;
  }
  #custom-filter {
    display: none;
  }
}
