/**
 * Styles for the {{ THEME NAME }} theme.
 */
@import url('https://rsms.me/inter/inter.css');

body {
   font-family: Inter, sans;
}
.btn-success {
  background-color: #6EBB00;
}
a {
  color: #6EBB00;
}
/**
 * This is the Twitter Bootstrap documentation's callout css. Looks nice.
 */ 
/* Base styles (regardless of theme) */
.bs-callout {
    margin-bottom: 20px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #D5DCE7;
    border-radius: 4px;
    background-color: #F3F5F8;
}

.bs-callout h4 {
    margin-top: 0;
    font-weight: bold;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout a.alert-link {
  font-weight: bold;
}
.bs-callout .bs-footer {
  margin-top: 20px;
}
.bs-callout .bs-footer .btn{
  margin-bottom: 3px;
  margin-right: 3px;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger, .bg-danger {
    background-color: #EFCBCA;
    border-color: #D9534F;
}
.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #D9534F;
}

.bs-callout-warning, .bg-warning {
    background-color: #FFF1C8;
    border-color: #FFC107;
}
.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #FFC107;
}

.bs-callout-info, .bg-success {
    background-color: #CCE4AA;
    border-color: #6EBB00;
}
.bs-callout-info h4,
.bs-callout-info a.alert-link {
    color: #6EBB00;
}

 /* callout css END */ 
/* overwrite modal */
.modal-body {
  padding: 0;
}
.modal-body .bs-callout {
  margin-bottom: 0;
}
/* We used fixed header and therefore loose headers bottom margin  */
section.col-sm-8.col-lg-9, 
aside.col-lg-3.col-sm-4.col-xs-6 {
  padding-top: 15px;
}
.views-row {
  border-bottom: 1px solid #D5DCE7;
  padding-bottom: 12px;
}
/* Product list / Tasks list */
.view-shop .media {
  padding-top: 10px;
  padding-bottom: 10px;
}
.view-shop .view-content > .row {
  border-bottom: 8px solid #F3F5F8;
  }
  .view-shop .container-fluid {
    margin-bottom: 10px;
  }

/* Some custom helper classes */
.space {
  padding: 4px 20px 4px 0;
  white-space: nowrap;
}
.hoffset-right {
  margin-right: 10px;
}
.label.space {
  padding: 4px 12px;
  margin-right: 8px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }


/* Shows roles as tab like label on wide screens */
@media (min-width: 768px) { 
  .user-role {
    right: 0px;
    margin-top: -30px;
    height: 30px;
    color: #D5DCE7;
    margin-bottom: 0px;
    background: rgba(0,0,0,0.4);
    padding: 5px;
  }
  #block-custom-misc-custom-misc-member-status {
    height:10px;
    z-index: 99;
    position: absolute;
    right: 0px;
  }
  .highlighted {
    position: relative;
  }

  /* Make Initiatives page title awesome
  .context-initiative .front-matter {
    color: white;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top:30px;
    padding: 10px 10px 10px 80px;
    text-shadow: 0 0 2px #000;
  }*/
}
/*
.context-initiative .front-matter a {
  color: white;
}
.context-initiative .front-matter-sm {
  color: white;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: 30px;
  left: 15px;
  right: 15px;
  padding: 10px 10px 10px 20px;
  text-shadow: 0 0 2px #000;
}
.context-initiative .nav-pills > li > a,
.page-node-17 .nav-pills > li > a {
    border-radius: 0;
}

.context-initiative h1.page-header {
  border-bottom: none;
}
*/
/* Initiatives */
.front-matter h1.page-header.title {
  font-weight: bold;
  font-size: 30px;
}
.front-matter .page-header {
  margin-top: 20px;
  padding-bottom: 0;
  border-bottom: 1px solid transparent;
}
.front-matter .slogan {
  margin-top: 10px;
  margin-bottom: 0;
}

/* Responsible shoping cart table */
.task-table h4 {
  margin-top:6px;
}
.task-table div.views-row-odd  {
  background-color: #F8F5F0;
}
.task-table div.row  {
  padding-bottom:10px;
  padding-top:10px;
  margin-left: 0px;
  margin-right: 0px;  
  border-bottom-color: #D5DCE7;    
}


/* Correcting some odd styles for badges bisides navs */
/*.nav .badge {*/
/*  font-size: 9px;*/
/*  margin-bottom: 2px;*/
/*}*/

/* Correcting odd color for links in alert regions */
.alert-danger a {
    color: #D9534F;
}
.alert-success a.btn {
    color: #FFFFFF;
}

/* Correcting odd margin for blockquote */
blockquote {
  margin: 20px 0 20px;
}

/* Changes on the edit form for Categories */
.field-name-field-categories .form-group {
  margin-bottom: 0;
}
.form-radios .form-item {
  display: inline-block;
}
.form-radios .radio label{
  margin-right: 5px;
  padding: 5px 10px;
}


/* Set navbars background color on container to not visually expand it over
   full browser width */
   #navbar {
    background-color: #FFFFFF;
    border-color: #6EBB00;
    margin-bottom:0px;
  }
  .navbar-inverse {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #6EBB00;
  }
  .main-container.container {
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  body {
    background-color:#F3F5F8;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #F3F5F8;
    color: inherit;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: #6EBB00;
  }
  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #6EBB00;
  }
  /* .navbar .nav > li > a line-height + padding-top + padding-bottom = .logo img height */
  .navbar .nav > li > a {
    line-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:larger;
  }
  .logo img {
    padding: 15px;
    height: 70px;
  }
  .logo img:hover {
    opacity: 0.5;
  }

/* Margin under tabs. TODO: Better solution? */
.main-container section .navbar-default {
  margin-bottom:15px;
}

/* Top margin for page header title */
@media (max-width: 768px) { 
  h1.page-header {
    margin-top:20px;
  }
  #block-system-main-menu .nav {
    position: fixed;
    z-index: 999;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
    box-shadow: 0px 10px 20px 0px rgba(255,255,255,1);
    top: 50px;
    width: 100%;      
  }


}

.navbar-toggle {
    margin-top: 7px;
    margin-bottom: 7px;
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
      padding-top: 13px;
      padding-bottom: 13px;
  }
}
.navbar-btn {
    margin-top: 0;
    margin-bottom: 0;
}
/* body.navbar-is-fixed-top {
    padding-top: 50px!important;
} */

/* Mobile menu */
#block-system-main-menu .nav li {
  text-align: center;
  display: table-cell;
/*  width: 1%;*/
}

/**
 * TODO: The markup of exposed form widgets is really messy
 *       Everyone should feel free to clean that mess up! I'm done with it!
 */
.views-exposed-form .views-exposed-widget {
    float: none;
    padding: 0.5em 0px 0px 0px;
}
.geofield-proximity-field-wrapper .form-item, 
.geofield-proximity-field-wrapper .geofield-proximity-origin-from {
    float: none;
    margin-right: 0px;
}

/* A light button For the Filters */
.btn-light,
.nav-light a {
  border: 1px solid #F3F5F8;
  background-color: #F3F5F8;
  font-weight: normal;
  color: #252729;
}
aside .nav-light a {
  border: 1px solid transparent;
  background-color: transparent;
}
.btn-light.active,
.nav-light a.active {
  border: 1px solid #6EBB00;
  background-color: #6EBB00;
  font-weight: normal;
  color: white;
}
.btn-light:hover, 
.btn-light:focus, 
.btn-light.focus,
.nav-light .open > a:hover,
.nav-light .open > a:focus,
.nav-light .dropdown-menu > li > a:hover,
.nav-light .dropdown-menu > li > a:focus,
.nav-light li > a:hover,
.nav-light li > a:focus {
  border: 1px solid #CCE4AA;
  text-decoration: none;
  background-color: #CCE4AA;
  color:#252729;
}
.btn-light .count {
  font-weight: bold;
  padding-left: 5px;
}


/* Helper classes */
.nomargin {
  margin:0 0 0 0;
}

/* Classes for modal dialogs */
.alert-modal a {
  color: #6EBB00;
}

.alert-modal-warning a {
  color: #D9534F;
}


/* TODO: Why the hell would bootstrap set white-sapce to nowrap in tables for small
   displays. That has strange side effects. */
.table-responsive > .table > thead > tr > th, 
.table-responsive > .table > tbody > tr > th, 
.table-responsive > .table > tfoot > tr > th, 
.table-responsive > .table > thead > tr > td, 
.table-responsive > .table > tbody > tr > td, 
.table-responsive > .table > tfoot > tr > td {
/*     white-space: normal;*/
}

/* Don't grey out small text in headers */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: inherit;
}

.task-operations li {
  padding:0 0;
}

/*
@media screen and (max-width: 991px) and (min-width: 772px) {

  .context-initiative h1.page-header {
    font-size:26px;
  }
  .context-initiative h3.subtitle.slogan {
    font-size:16px;
  }
}
*/

/* Brand styling
@font-face {
	font-family: Futura;
	src: url('../fonts/FUTURAN.TTF') format('truetype');
}
.navbar-inverse .navbar-brand {
    margin-top:-3px;
    font-family: Futura;
    font-size: 26px;
}
*/

/* Task styling */ 
@media screen and (min-width: 772px) {
  .task-details .well {
    min-height:160px;
  }
}
.commerce-add-to-cart .form-group {
    max-width:300px;
}

/* Make slider more bootstrap */
.ui-slider .ui-slider-handle {
  height: 20px;
  width: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-top: -1px;
}
.ui-slider .ui-state-default {
  border-radius: 4px;
  background-color: #F8F5F0;
}
.slide-with-style-slider.ui-slider-horizontal {
  background-image: linear-gradient(left, #6EBB00 0%, #FFC107 50%, #D9534F 100%);
  background-image: -moz-linear-gradient(left, #6EBB00 0%, #FFC107 50%, #D9534F 100%);
  background-image: -webkit-linear-gradient(left, #6EBB00 0%, #FFC107 50%, #D9534F 100%);
  border-radius: 4px;
}

/* Some adjustments for the BEF buttons */
.views-exposed-form .views-exposed-widget .btn {
  margin-top: 0;
}
.views-exposed-form .form-radios .radio label.btn {
  margin-top: 1em;
  padding-left: 5px;
}    

/* Don't adjust priority labels on text baseline in h3 */
.priority.label {
  vertical-align: text-top;
}

/* FRONTPAGE
.header {
  position: relative;
  height: 384px;
  color: #FFFFFF;
  text-shadow: 0 0 2px #252729;
  overflow:hidden;
  background-image: url("/sites/all/themes/bootstrap_adiuto_cdn/background.jpg");
  background-position: center center;
}
.header-image {
  display: none; 
}
.header-content {
  position: relative;
  padding: 1px 20px 20px 20px;
  z-index: 1;
  top: 120px;
  background: rgba(0, 0, 0, 0.25);
  font-family: Futura;
  margin-left: -15px;
  margin-right: -15px;
}
.header-menu:hover {
  text-decoration: none;
}

/* Style for geolocations block on frontpage. 
/* TODO: Build an extra block or but this into geolocation module.
.header #edit-location {
  position: absolute;
  top: 342px;
  right: 0;
  background-color: transparent;
  margin-bottom: 0px;
  border: none;
}

.header #edit-location legend {
  background-color: transparent;
  border: none;
  color: white;
}

.header #edit-location .panel-body {
  background-color:rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 39px;
  padding: 10px;
  width: 100%;
  z-index: 99; 
  min-width: 200px;
  right: -5px;    
}

/* Some adjustments for facets. */ 
.block-facetapi ul {
  list-style:none;
}
.block-facetapi ul ul {
  display: inline;
  padding: 0 0 0 3px;
}
.block-facetapi > div > ul {
  list-style:none;
  padding: 0 15px 0 15px;
}
.block-facetapi li {
  display: inline;
  margin-bottom:0px;
}
.block-facetapi .control-label {
  padding-left: 5px;
  margin-bottom:5px;
}
.block-facetapi li a {
  display: inline-block;
  color:#252729;
  margin: 3px;
}
.block-facetapi li a:hover {
  text-decoration: none;
}
.block-facetapi li a:first-letter {
  text-transform: uppercase;
  display: block;
}

/* Fix btn group for live result. */
.input-group-btn-fix {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-search {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.page-tasks .page-header {
  border-bottom: none;
  text-align: center;
}


.block:first-child h2.block-title, .page-header {
  margin-bottom: 0;
}

aside,
section.col-sm-8.col-lg-9,
.region.region-content,
aside section {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

aside .nav > li > a {
  padding: 5px 15px;
}


.facetapi-facetapi-links {
  margin-bottom: 20px;
  padding-left: 0;
}

/* Smaller sidebar block titles. */
aside.sidebar-offcanvas .block-title,
aside.sidebar-offcanvas  .item-list h3 {
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px;
    font-weight: bold;
    background-color:#F3F5F8;
    border-radius: 4px;
}

/* Show location fieldset as normal text within proximity filter.
 * TODO: We need to simplify the sidebar and this CSS is nothing more as 
 * an prove of concept. If we like it we should do it more cleanly. */
#block-custom-geolocation-custom-geolocation-proximity legend.panel-heading {
  border: 0;
  padding: 0;
  background-color: transparent !important;
}
#block-custom-geolocation-custom-geolocation-proximity fieldset {
    border: 0;
    padding: 0;
}

#block-custom-geolocation-custom-geolocation-proximity fieldset .panel-title {
    font-size: 12px;
    font-weight: 500;
    text-transform:none;
    padding-bottom:0px;
    margin-bottom:-20px;    
}

/* Correct some margins for blocks in the side panel. */
aside .block .panel {
  margin-top:20px;
}
aside > div > section.block:first-child .panel {
  margin-top:0;;
}

div.krumo-preview {
  color: #252729;
}
.krumo-child div.krumo-element {
  background: #D5DCE7;
}
div.krumo-expand {
    background: #F8F5F0;
}

.geodata, .geodata-container {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; 
}


 
 /* Badge in top menu showing cart count via JS */
 
.cart-count {
  font-size: 9px;
  margin-top: -2px;
  margin-left: 2px;
  display: inline-block;
}
.cart-count-placeholder {
  display: inline-block;
}
 

.text-muted .badge {
  background-color:#D5DCE7;
}
.view-initiative-list .badge {
  margin-right:10px;
}

.border-danger {
  border: 1px solid #D9534F !important;
  padding: 10px;
  border-radius: 4px;
}

.quantity {
  height: 86px;
  width: 86px;
  text-align: center;
  padding-top: 23px;
  border: 1px solid #D5DCE7;
  background-color: #d5dce75b;
  font-weight: 800;
  font-size: 26px;
}
.quantity small{
  font-size: 60%;
}
.priority {
  font-size:x-small;
  font-weight: normal;
  display: none;
}
.quantity.warning {
  border: 1px solid #ffc107;
  background-color: #ffc10750;
  padding-top: 15px;
}
.quantity.danger {
  border: 1px solid #D9534F;
  background-color: #d9544f5e;
  padding-top: 15px;
}
.quantity.warning .priority, .quantity.danger .priority {
  display: block;
}
/* overwrite nav-pills */
#custom-menu-tiny.nav-pills > li.active > a, #custom-menu-tiny.nav-pills > li.active > a:hover, #custom-menu-tiny.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #6EBB00;
  border-color: #6EBB00;
}
#custom-menu-tiny.nav-pills > li > a {
  border-radius: 0;
}
#custom-menu-tiny.nav > li > a:hover, #custom-menu-tiny.nav > li > a:focus {
  text-decoration: none;
  background-color: #6EBB00;
  color: #fff;
}
#block-custom-footer-custom-footer {
  margin-top:40px;
}

/* P2P hide notification option when not delivered or fetched*/
td.status-requested span, td.status-canceled span, td.status-postponed span  {
  display: none;
}

/* Bootstrap has this sensible defaults line:5254 overwritten line:6884 */
.list-group-item {
  padding: 10px 15px;
}
.list-group-item:first-child {
  padding-top: 15px;
}

.front section.front {
  padding: 40px 0 30px;
  min-height: 300px;
}
.front section#front-map {
  border-top:1px solid #6EBB00;
  border-bottom:1px solid #6EBB00;
}
.front section.front h2 {
  font-weight: bold;
}
.front section#front-node {
  background-color: #fff;
}
.front section.front .panel-body article {
  min-height: 380px;
}
.front section.front .panel {
  margin-bottom: 20px;
}
.front section.front .input-group-search {
  margin-bottom: 10px;
}
.front a .btn-light, .front a.btn-light{
  margin-bottom: 3px;
}
.front .view-tasks-locations .view-content div {
  display: inline;
}
.front #block-system-main article {
  padding: 40px 0;
}
.front .main-container {
  background-color: #F3F5F8;
  padding-top:0;
}
.front section#front-stats {
  background-color: #6EBB00;
  padding-bottom: 0;
}
.front section#front-stats img{
  margin: auto;
}
@media (min-width: 768px) {
  .front #front-initiatives .row,
  .front #front-info.row  {
    margin-left: -30px;
    margin-right:-30px;
  }
}
.front .view-id-achievements{
  color: #fff;
}
/* Custom button class used for save-search button. 
   TODO: This is a dirty fix to counter bootstraps
         auto colored button function. 
 */
.btn-custom-saved-search {
  color: black !important;
}
/**
 * This works because of this rule:
 * .input-group-search {  margin-bottom: 30px; }
 */
#block-views-exp-task-search-page ~ #block-current-search-standard, #block-views-exp-task-search-page-1 ~ #block-current-search-standard {
  text-align: center;
  position: relative;
  margin-top: -30px;
}
#block-current-search-standard ul {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 0;
}
#block-current-search-standard ul li {
  padding: 0 0 5px 0;
}

/* Login toboggan complete overwrite */
.toboggan-unified #login-message {
  text-align: inherit;
  font-size: inherit;
  line-height: inherit;
}

.toboggan-unified #login-links {
  text-align: inherit;
  font-size: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
}
.login-link {
  white-space: nowrap;
}

.toboggan-unified #login-links a {
  padding: 10px;
  border: 1px solid #6EBB00;
  background-color: inherit;
  border-radius: 4px;
  margin-bottom: 3px;
}

.toboggan-unified #login-links a:hover {
  background-color: #efefef;
  text-decoration: none;
  border: 1px solid #6EBB00;
}

.toboggan-unified #login-links a.lt-active,
.toboggan-unified #login-links a.lt-active:hover {
  background-color: #6EBB00;
  border: 1px solid #6EBB00;
  color: #fff;
}

.toboggan-unified .login-forgot {
  padding: 20px 0;
}

/* User Profile */
#block-views-user-profile-block-1 h2 a{
  font-weight: bold;
  font-size: 36px;
  color:#252729;
}
#block-views-user-profile-block-1{
  padding-bottom: 20px;
}
.user-navigation a {
  padding-top:10px;
  padding-bottom:10px;
}
.dropdown-menu > li > a {
  line-height: 30px;
  background: inherit;
}

li.last .dropdown-menu {
  right: 0;
  left: inherit;
}

@media (min-width: 768px) {
  .view-user-profile .view-footer {
    column-count: 2;
    column-gap: 20px;
  }

  .view-user-profile .view-footer .view {
    display: inline-block;
    width: 100%;
  }
}

/* Navigation for horizontal menus */
.page-navigation {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tabs--primary.page-navigation {
  overflow-x:auto;
}
.page-navigation > li{
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

/* Bootstrap overwrites */
.list-group-item, .panel-default {
  border: 1px solid #D5DCE7;
}
.panel-default > .panel-heading {
  color: #252729;
  background-color: #F3F5F8;
  border-color: #D5DCE7;
}
a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
  text-decoration: none;
  color: #252729;
  background-color: #F3F5F8;
}

.input-group-addon {
  color: #252729;
  background-color: #F3F5F8;
  border: 1px solid #D5DCE7;
  line-height: inherit;
  width: 100%;
}

/* Breadcrumbs */
.breadcrumb {
  border: 1px solid transparent;
  background-color: transparent;
  padding-left: 0;
}