#views-form-commerce-cart-form-default button.btn-success, #commerce-checkout-form-checkout button.btn-success {
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
}
.top-buttons button {
    width:100%;
}
@media (min-width: 768px) { 
    .top-buttons button {
        width: auto;
    }
}
#block-custom-mission-custom-mission-mission .panel-body {
    padding-bottom: 0;
}